*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

SafeBrowsing/*.iml
SafeBrowsing/.gradle
SafeBrowsing/local.properties
SafeBrowsing/.idea/workspace.xml
SafeBrowsing/.idea/libraries
SafeBrowsing/.DS_Store
SafeBrowsing/build
SafeBrowsing/captures
SafeBrowsing/.externalNativeBuild
